<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
    </ul>

    <div class="page-content page-container" id="page-content">
      <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
          <div class="card shadow">
            <div class="card-body">
              <form>
                <div class="mb-3">
                  <h4 class="text-dark text-muted">Login</h4>
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Email</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    [(ngModel)]="email"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label"
                    >Password</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    [(ngModel)]="password"
                  />
                </div>
                <button type="button" class="btn btn-info" (click)="login()">
                  Login
                </button>
                <div class="row">
                  <div class="col-md-6">
                    <a href="/register" style="text-decoration: none"
                      >Need Account ?
                      <span class="text-danger">Register</span></a
                    >
                  </div>
                </div>
                <div class="row mt-2">
                  <a
                    (click)="signInWithGoogle()"
                    style="text-decoration: none; cursor: pointer"
                  >
                    <div class="card shadow text-center">
                      <div class="card-body">
                        <img
                          src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-symbol-transparent-png-logos-4.png"
                          alt=""
                          height="24px"
                          width="24px"
                        />
                        Google Sign In
                      </div>
                    </div>
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </body>
</html>
